{% extends "base.html" %}

{% block title %}USpeakPy Web - Batch Simulation{% endblock %}

<!-- Block for specific CSS for each page -->
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/batch.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Process a File</h1> 
    <!-- First form: file upload and processing -->
    <form id="processForm" enctype="multipart/form-data">
        <h2>Upload and Process File</h2>

        <!-- File format -->
        <div class="form-group">
            <label>Input file format:</label>
            <label><input type="radio" name="file_format" value="CSV"  onchange="toggleExcelSheet()"> CSV</label>
            <label><input type="radio" name="file_format" value="Excel"  onchange="toggleExcelSheet()"> Excel</label>
        </div>

        <!-- File selection -->
        <div class="form-group">
            <label for="inputFile">Input file:</label>
            <input type="file" id="inputFile" name="input_file" required>
        </div>

        <!-- Sheet name field (only visible if Excel is selected) -->
        <div class="form-group" id="excelSheetField" style="display: none;">
            <label for="excelSheet">Excel sheet:</label>
            <input type="text" id="excelSheet" name="excel_sheet">
        </div>


        <div class="form-group">
            <button type="submit" id="submitBtn" onclick="uploadFile(event)">Submit</button>
        </div>

        <!-- Download results button (initially disabled) -->
        <div class="form-group">
            <button type="button" id="downloadBtn" disabled onclick="downloadResults()">Download results</button>
        </div>


        <!-- Second form: Download example file -->
        <h2>Download Example File</h2>
        <form id="exampleForm">
            <!-- Sample format -->
            <div class="form-group">
                <label>Example input format:</label>
                <label><input type="radio" name="example_format" value="CSV" > CSV</label>
                <label><input type="radio" name="example_format" value="Excel" > Excel</label>
            </div>

            <!-- Sample download button -->
            <div class="form-group">
                <button type="button" class="btn btn-info" id="downloadExampleBtn" onclick="downloadExample()">Download example</button>
            </div>
        </form>
    </form>
</div>


<script>
    // Displays Excel sheet field only if Excel format is selected
    function toggleExcelSheet() {
        const excelSheetField = document.getElementById('excelSheetField');
        const fileFormat = document.querySelector('input[name="file_format"]:checked').value;
        excelSheetField.style.display = (fileFormat === 'Excel') ? 'block' : 'none';
    }

    // Enable the download button and change its color to green
    function enableDownloadButton() {
        const downloadBtn = document.getElementById('downloadBtn');
        downloadBtn.disabled = false; 
        downloadBtn.style.backgroundColor = 'green'; 
        downloadBtn.style.color = 'white'; 
    }

    // Function to simulate file availability

    /* function downloadResults() {
        alert("El archivo de resultados está listo para descargar.");
    } */

    function downloadResults() {
    Swal.fire({
        title: '¡Listo!',
        text: 'El archivo de resultados está listo para descargar.',
        icon: 'success', // Tipo de icono (success, error, warning, info, question)
        confirmButtonText: 'Aceptar'
    });
    }

    // Validate the file extension before submitting the form
    async function uploadFile(event) {
        // Get form elements
        const form = document.getElementById('processForm');
        const formData = new FormData(form);
        const inputFile = document.getElementById('inputFile').files[0];
        const fileFormat = document.querySelector('input[name="file_format"]:checked').value;

        // Adding data to FormData
        formData.append('file_format', fileFormat);
        formData.append('input_file', inputFile);
        
        // Get the file extension
        const fileExtension = inputFile.name.split('.').pop().toLowerCase();

        // Check if the extension is valid according to the selected format

        /* if (fileFormat === 'CSV' && fileExtension !== 'csv') {
            alert("Por favor, selecciona un archivo con extensión .csv");
            event.preventDefault(); // Prevent form submission
            return false;
        }

        if (fileFormat === 'Excel' && fileExtension !== 'xlsx') {
            alert("Por favor, selecciona un archivo con extensión .xlsx");
            event.preventDefault(); // Prevent form submission
            return false;
        } */
        if (fileFormat === 'CSV' && fileExtension !== 'csv') {
            Swal.fire({
                title: 'Archivo Incorrecto',
                text: 'Por favor, selecciona un archivo con extensión .csv',
                icon: 'error', // Muestra un icono de error
                confirmButtonText: 'Aceptar'
            });
            event.preventDefault(); // Previene el envío del formulario
            return false;
        }

        if (fileFormat === 'Excel' && fileExtension !== 'xlsx') {
            Swal.fire({
                title: 'Archivo Incorrecto',
                text: 'Por favor, selecciona un archivo con extensión .xlsx',
                icon: 'error', // Muestra un icono de error
                confirmButtonText: 'Aceptar'
            });
            event.preventDefault(); // Previene el envío del formulario
            return false;
        }

        
         // Performing the POST with fetch
         try {
            const response = await fetch('/upload_file', {
                method: 'POST',
                body: formData
            });

            // Response management
            if (response.ok) {
                const result = await response.text();
                alert('Archivo subido correctamente: ' + result);
            } else {
                alert('Error al subir el archivo.');
            }
        } catch (error) {
            console.error('Error en la solicitud:', error);
            alert('Error en la solicitud: ' + error.message);
        }
    }

    // Function to download the EXAMPLE file according to the selected format

    /*function downloadExample() {
        const format = document.querySelector('input[name="example_format"]:checked');

        if (!format) {
            alert('Por favor, selecciona un formato para el archivo de ejemplo.');
            return;
        }

        const fileFormat = format.value;
        // Perform a POST to download the example file
        fetch(`/download_example`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ format: fileFormat })
        })
        .then(response => {
            if (response.ok) {
                return response.blob();
            }
            throw new Error('Error al descargar el archivo de ejemplo');
        })
        .then(blob => {
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.href = url;
            a.download = `example.${fileFormat === 'CSV' ? 'csv' : 'xlsx'}`;
            document.body.appendChild(a);
            a.click();
            a.remove();
        })
        .catch(error => {
            console.error(error);
            alert('Error al descargar el archivo de ejemplo.');
        });
    } */
    function downloadExample() {
        const format = document.querySelector('input[name="example_format"]:checked');

        // Validar si no se seleccionó un formato
        if (!format) {
            Swal.fire({
                title: 'Formato no seleccionado',
                text: 'Por favor, selecciona un formato para el archivo de ejemplo.',
                icon: 'warning',
                confirmButtonText: 'Aceptar'
            });
            return;
        }

        const fileFormat = format.value;

        // Realizar un POST para descargar el archivo de ejemplo
        fetch(`/download_example`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ format: fileFormat })
        })
        .then(response => {
            if (response.ok) {
                return response.blob();
            }
            throw new Error('Error al descargar el archivo de ejemplo');
        })
        .then(blob => {
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.href = url;
            a.download = `example.${fileFormat === 'CSV' ? 'csv' : 'xlsx'}`;
            document.body.appendChild(a);
            a.click();
            a.remove();

            // Mostrar alerta de éxito
            Swal.fire({
                title: 'Descarga exitosa',
                text: 'El archivo de ejemplo se descargó correctamente.',
                icon: 'success',
                confirmButtonText: 'Aceptar'
            });
        })
        .catch(error => {
            console.error(error);

            // Mostrar alerta de error
            Swal.fire({
                title: 'Error',
                text: 'Error al descargar el archivo de ejemplo. Por favor, intenta nuevamente.',
                icon: 'error',
                confirmButtonText: 'Aceptar'
            });
        });
    }

</script>

{% endblock %}
